:root {
    /*HEADER*/
    --headerBG: #F5F5F5;
    --headerC: #2B283A;
    /*TASK BUTTONS*/
    --taskBG: #FFFFFF;
    --taskC: #4A4E74;
    --taskBorder: #D5D4D8;
    /*MISC*/
    --label: #918E9B;
    --hr: #C3C6DB;
    --send: #3770ED;
}

/*/////////////////////
    GLOBAL
/////////////////////*/

* {
    box-sizing: border-box;
}

html,
body,
h1 {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

header {
    background-color: var(--headerBG);
    color: var(--headerC);
    text-align: center;
}

label {
    color: var(--label);
    display: block;
    font-size: .75rem;
    text-transform: uppercase;
}

button {
    cursor: pointer;
    font-family: inherit;
}

button i {
    pointer-events: none;
}

hr {
    color: var(--hr);
}

footer {
    text-align: center;
    color: var(--label);
    margin-bottom: 2em;
}

/*/////////////////////
    CLASSES
/////////////////////*/

.header {
    padding: 3.75em 0;
}

.header h1 {
    font-size: 2.5rem;
    font-weight: 800;
}

.task-btns-container,
.labels-container,
.notes-container {
    display: flex;
    justify-content: space-between;
    gap: .75em;
}

.task-btns-container {
    margin: 2.3125em 0;
}

.task-btns-container button {
    background-color: var(--taskBG);
    border: 1px solid var(--taskBorder);
    border-radius: .4375em;
    color: var(--taskC);
    padding: .9em;
    flex: 1;
}

.task-btns-container button:focus,
.task-btns-container button:hover {
    border: 1px solid var(--taskC);
    scale: 1.025;
}

.task-inputs-container {
    display: flex;
    width: 100%;
    height: 2.8125em;
}

.task-inputs-container input {
    border: 1px solid var(--label);
    border-radius: 7px 0 0 7px;
    padding: 12px;
    width: 100%;
}

.task-inputs-container select {
    background-color: #f6f6f6;
    border: 1px solid var(--label);
    border-radius: 0;
    width: 5em;
    padding: 8px;
}

.add-task-btn {
    background-color: var(--send);
    border: 1px solid var(--send);
    border-radius: 0 7px 7px 0;
    color: white;
    width: 4.5em;
}

.tasks-section .labels-container {
    margin-top: 3em;
}

.tasks-container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin: 1em 0;
}

.task {
    align-items: center;
    color: var(--label);
    display: flex;
    font-size: 1.5rem;
    font-weight: 300;
    height: 1.375em;
}

.task-title {
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: capitalize;
}

.task-title,
.task-price {
    color: var(--taskC);
}

.task-remove-btn {
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: .6rem;
    margin-left: 1em;
    margin-right: auto;
    padding: 0;
    text-transform: capitalize;
}

.task-remove-btn:focus,
.task-remove-btn:hover {
    color: var(--taskC);
}

.task-price {
    font-weight: 500;
}

.notes-container {
    color: var(--taskC);
}

.notes-container label {
    margin: .6875em 0;
}

.note {
    font-size: .75rem;
}

.total-container {
    text-align: end;
}

.total-amount {
    font-size: 2.25rem;
    font-weight: 600;
    margin: 0;
}

.send-invoice-btn {
    background-color: var(--send);
    border: 1px solid var(--send);
    border-radius: .5em;
    color: white;
    font-size: 1rem;
    padding: 11px;
    width: 100%;
    margin: 3.3125em 0;
}

.add-task-btn:hover,
.send-invoice-btn:hover {
    background-color: white;
    color: var(--send);
}

/*/////////////////////
    UTILITY
/////////////////////*/

.container {
    width: 90%;
    margin: auto;
}

.hidden {
    display: none;
}

.zero {
    color: var(--label);
}